<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<init-param>
			<param-name>config-Prop</param-name>
			<param-value>/configuration.properties</param-value>
		</init-param>
		<servlet-name>RequestControler</servlet-name>
		<servlet-class>com.adj.handler.RequestControler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestControler</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>